.button {
	display: inline-block;
	height: auto;
	padding: 0.5rem 0.2rem;
	border: none;
	border-radius: 6px;
	font-weight: 500;
	font-size: 1rem;
	text-decoration: none;
	text-transform: capitalize;
	cursor: pointer;
	overflow: hidden;
	&__select {
		color: var(--black-2);
		font-family: Poppins;
		padding: 1rem;
		border: none;
		background-color: blanchedalmond;

		width: 75px;
		cursor: pointer;
	}
}
.button--primary {
	background-color: beige;
	color: var(--white);
}
.button--secondary {
	background-color: lightgray;
	color: var(--black-1);
}
